PyInstaller==3.6
PyQt5==5.13.1
PyQt5-sip==4.19.19
PyQt5-stubs==5.13.1.3
altgraph==0.16.1
atomicwrites==1.3.0
attrs==19.1.0
colorama==0.4.1
cycler==0.10.0
future==0.17.1
importlib-metadata==0.23
kiwisolver==1.1.0
macholib==1.11
matplotlib
more-itertools==7.2.0
numpy
packaging==19.2
pandas
patsy==0.5.1
pefile==2019.4.18
pip
pluggy==0.13.0
py==1.8.0
pyparsing==2.4.2
pyqt5-tools
pytest==5.1.3
python-dateutil==2.8.0
python-dotenv==0.10.3
pytz==2019.2
pywin32-ctypes==0.2.0
scipy
setuptools==65.5.1
sip
six==1.12.0
utm==0.5.0
wcwidth==0.1.7
xmltodict==0.12.0
zipp==0.6.0
simplekml==1.3.1
profilehooks